<p>前沿技术</p>
<div>
    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <h4>Angular2</h4>
                <p>组件化的前端框架</p>
                <p>google</p>
                <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>Nodejs</h4>
                <p>js写的服务器端语言</p>
                <p>v8引擎</p>
                <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>Express</h4>
                <p>nodejs的框架</p>
                <p>简单、方便</p>
                <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>ionic2</h4>
                <p>组件化的移动端框架</p>
                <p>混合移动前端框架</p>
                <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
            </div>
        </div>
    </div>
</div>